 <!-- 尾部 start-->
    <footer id="footer">
        <meta charset="utf-8">
        <div class="why_select">
            <dl>
                <dt class="fl">
                    <img src="../static/images/icon_1.jpg" alt="">
                </dt>
                <dd>
                    <h1>房车齐全</h1>
                    <h2>房车全自主选，随心买</h2>
                </dd>
            </dl>
            <dl>
                <dt class="fl">
                    <img src="../static/images/icon_2.jpg" alt="">
                </dt>
                <dd>
                    <h1>便利快捷</h1>
                    <h2>24小时不打烊，随时预定</h2>
                </dd>
            </dl>
            <dl>
                <dt class="fl">
                    <img src="../static/images/icon_3.jpg" alt="">
                </dt>
                <dd>
                    <h1>安全支付</h1>
                    <h2>知名支付工具，放心预定</h2>
                </dd>
            </dl>
            <dl>
                <dt class="fl">
                    <img src="../static/images/icon_4.jpg" alt="">
                </dt>
                <dd style="margin-right:0px;">
                    <h1>贴心服务</h1>
                    <h2>客服全年无休，安心买</h2>
                </dd>
            </dl>
        </div>
        <div class="company">
            <p>xx有限公司 版权所有Copyright xxxx-xxxx, All Rights Reserved xxxxxxxxxx</p>
        </div>
    </footer>