<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>江湖 - KuangStudy</title>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../static/js/jquery-3.3.1.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/include.js"></script>
    <script src="../static/js/getParameter.js"></script>
    <link rel="stylesheet" href="../static/layui/css/layui.css">
    <link rel="stylesheet" href="../static/css/forum.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/common.css">
    <style>

        .breadcrumb li a {
            text-decoration: none;
        }
        .sidebar.ads a{
            text-decoration: none;
        }
        html {
            height: 100%;
        }

        body {
            min-height: 100%;
            display: flex;
            flex-direction: column;
        }

        .breadcrumb-nav .breadcrumb {
            background: #fff;
        }

        .ksd-layui-input {
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;
            width: 160px !important;
            padding: 3px;
            border: 1px solid #1E9FFF !important;
            height: 30px;
            margin-right: -1px;
            font-size: 12px;
            font-weight: 400;
            text-indent: 0.5em;
            transition: 30ms linear;
        }

        .ksd-layui-input:hover {
            width: 210px !important;
        }

        .ksy-category-name {
            display: none
        }

        .ksy-category-name:before {
            content: "/";
            padding-right: 10px;
        }

        .load-topics-page .tag {
            float: left;
            height: 25px;
            margin: 1px 5px 1px 0;
            padding: 0 10px;
            font-size: 12px;
            color: #fff;
            border-radius: 18px;
            line-height: 26px;
        }

        .load-topics-page h1 span {
            float: left;
            display: block;
            max-width: 450px;
            font-size: 18px;
            font-weight: bold;
        }

        .bg-blue {
            background-color: #1E9FFF !important;
        }

        .markdown-body, .title-article {
            padding: 15px;
            text-align: left
        }

        .ksd-iconstar-blue {
            position: absolute;
            top: 14px;
            right: 21px;
            color: #F44336;
        }

        .container {
            padding-left: 5px;
            padding-right: 10px;
        }

        .title-article:hover {
            box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
        }

        .ksd-iconzhiding {
            font-size: 42px;
            position: absolute;
            top: 10px;
            right: 10px;
            transform: rotate(90deg);
            color: #F44336;
        }

        .ksd-page-go {
            color: #007bff !important;
            cursor: pointer
        }

        .ksd-page-go:hover {
            color: #fff !important;
        }

        .ksd-bgfropa {
            background: rgba(255, 255, 255, 0.9) !important;
        }

        .layui-col-space5 .ksd-cate-item {
            padding: 2px;
        }

        .ztotal, .stotal {
            transform: scale(0.9);
            display: inline-block;
            color: #999;
        }</style>

    <script>
        $(function () {
            var searchKey = getParameter('searchKey');

            load(null, searchKey);
        })

        function load(currentPage, searchKey) {
            if (currentPage === null) {
                currentPage = 1;
            }
            //发送ajax请求，请求route/pageQuery,传递cid
            $.get("/forum/" + currentPage + '/' + searchKey, function (pb) {
                //解析pagebean数据，展示到页面上

                //1.分页工具条数据展示
                //1.1 展示总页码和总记录数
                /*$("#").html(pb.totalPage);*/
                $(".stotal").html('( ' + pb.totalCount + ' )');
                $(".user_num").html(pb.user_num);
                $(".post_num").html(pb.totalCount);

                var lis = "";

                var firstPage = `<li class="layui-btn layui-btn-primary"><a href="javascript:;" onclick="load(1` + `,` + `\'` + searchKey + `\'` + `)">首页</a></li>`;


                //计算上一页的页码
                var beforeNum = pb.currentPage - 1;
                if (beforeNum <= 0) {
                    beforeNum = 1;
                }

                var beforePage = `<li class="layui-btn layui-btn-primary"><a href="javascript:;" id="firstPage" onclick="load(` + beforeNum + `,` + `\'` + searchKey + `\'` + `)">上一页</a></li>`;

                lis += firstPage;
                lis += beforePage;

                // 定义开始位置begin,结束位置 end
                var begin; // 开始位置
                var end; //  结束位置


                //1.要显示10个页码
                if (pb.totalPage < 10) {
                    //总页码不够10页

                    begin = 1;
                    end = pb.totalPage;
                } else {
                    //总页码超过10页

                    begin = pb.currentPage - 5;
                    end = pb.currentPage + 4;

                    //2.如果前边不够5个，后边补齐10个
                    if (begin < 1) {
                        begin = 1;
                        end = begin + 9;
                    }

                    //3.如果后边不足4个，前边补齐10个
                    if (end > pb.totalPage) {
                        end = pb.totalPage;
                        begin = end - 9;
                    }
                }

                for (var i = begin; i <= end; i++) {
                    var li;
                    //判断当前页码是否等于i
                    if (pb.currentPage === i) {

                        li = `<li class="layui-btn layui-btn-warm" ><span>` + i + `</span></li>`;

                    } else {
                        //创建页码的li
                        li = `<li class="layui-btn layui-btn-primary"><a href="javascript:;" onclick="load(` + i + `,` + `\'` + searchKey + `\'` + `)">` + i + `</a></li>`;
                    }
                    //拼接字符串
                    lis += li;
                }

                //计算下一页的页码
                var nextPageNum = pb.currentPage + 1;
                if (nextPageNum >= pb.totalPage) {
                    nextPageNum = pb.totalPage;
                }
                var nextPage = `<li class="layui-btn layui-btn-primary"><a href="javascript:;" onclick="load(` + nextPageNum + `,` + `\'` + searchKey + `\'` + `)">下一页</a></li>`;
                var lastPage = `<li class="layui-btn layui-btn-primary"><a href="javascript:;" onclick="load(` + pb.totalPage + `,` + `\'` + searchKey + `\'` + `)">末页</a></li>`;

                lis += nextPage;
                lis += lastPage;

                //将lis内容设置到 ul
                $("#pageNum").html(lis);

                //2.列表数据展示
                var route_lis = "";

                for (var i = 0; i < pb.list.length; i++) {
                    //获取{rid:1,rname:"xxx"}
                    var route = pb.list[i];

                    var li = `<div class="title-article ksd-title-article-link list-card" data-href="forumDetails?id=${route.id}">

                    <span class="iconfont iconzhiding ksd-iconzhiding"></span>
                    <!--指向文章详情页-->
                    <a target="_blank" href="#" class="hlink">
                        <h1>${route.title}</h1>
                    </a>
                    <a target="_blank" href="#" class="hlink2">
                        <p>${route.description}</p>
                    </a>
                    <div class="title-msg">
                        <span>
                            <!--指向个人主页-->
                            <a href="/user/2cbe4161a6c64bc780bf61e36d87a03b" target="_blank" title="">
                            <img src="../static${route.user_img_url}" class="ksd-avatar" alt="" style="">
                            <span class="mx-1">${route.user_nickname}</span></a>

                            <!--<span class="svipicon"><i class="iconfont iconsvip"></i></span>-->
                        </span>
                        <span class="pr-2 pl-2 ksd-screen-time-no"><label
                                class="fw">时间：</label><span>${route.post_time}</span></span>
                        <span class="pr-2 none"><label class="fw">评论数：</label><span>1010</span></span>
                        <span class=" pr-2"><label class="fw">浏览：</label><span>${route.watch_count}</span></span>
                        <span><label class="fw">分类：</label>
                            <a href="#" class="ksd-topic-tags">${route.category}</a>
                        </span>
                    </div>
                </div>`;
                    route_lis += li;
                }
                $(".load-topics-page").html(route_lis);


                var cateItems = ``;
                //右侧栏目分类
                $.each(pb.categorys, function (index, value) {
                    cateItems += `<a href="/forumIndex?searchKey=${value}" style="display: block"
                           class="ksd-nav-linknav-rorate">
                            ${value}
                            <span class="layui-icon-right layui-icon fw"
                                  style=""></span>
                        </a>`;
                })
                $(".ksd-cate-item").html(cateItems);

                //定位到页面顶部
                window.scrollTo(0, 0);
            });
        }
    </script>
    <div id="header" style="position: sticky;top: -1px;z-index: 5;">

    </div>
<body style="background: #eff3f5;overflow-x: hidden">

<div class="layui-container">
    <div class="layui-row layui-col-space15  main">
        <div class="layui-col-md9 layui-col-lg9" style="min-height: 790px;">
            <nav class="breadcrumb-nav">
                <ol class="breadcrumb fl">
                    <li><a href="/forumIndex">全部 <span class="stotal">( 4561 )</span></a></li>

                </ol>
                <div class="fr" style="padding: 7px;">
                    <form method="get" action="/bbs?pageNo=1" onsubmit="return searchbbs(this)">
                        <div class="fl input">
                            <input type="text" id="searchKey" name="searchKey" value="" autocomplete="off"
                                   maxlength="20" class="ksd-layui-input" placeholder="请输入文章关键词或标签"
                                   onfocus="this.placeholder=''" onblur="this.placeholder='请输入文章关键词或标签'">
                            <input type="hidden" id="searchcid" name="cid" value="">
                            <input type="hidden" id="pageNo" value="1">
                            <input type="hidden" id="pages" value="305">
                            <input type="hidden" id="total" value="4561">
                            <input type="hidden" id="cid" value="">
                            <input type="hidden" id="isrecommend" value="">
                            <input type="hidden" name="pageNo" value="1">
                            <input type="hidden" name="pageSize" value="15">
                        </div>
                        <div class="fl">
                            <button class="layui-btn layui-btn-sm layui-btn-primary" type="submit"><i
                                    class="layui-icon"></i></button>
                        </div>
                    </form>
                </div>
                <div class="fr" style="margin: 15px;font-size:12px;">
                    <!--热门关键词：<a href="/bbs?searchKey=学相伴">学相伴</a>&nbsp;&nbsp;<a href="/bbs?searchKey=java">Java</a>-->
                </div>
            </nav>

            <div class="load-topics-page" data-total="4561">
                <div class="title-article ksd-title-article-link list-card" data-href="bbs/1362335752301637633">

                    <span class="iconfont iconzhiding ksd-iconzhiding"></span>
                    <a target="_blank" href="bbs/1362335752301637633" class="hlink">
                        <h1>🚀 活动：寻找爱写博客的你</h1>
                    </a>
                    <a target="_blank" href="bbs/1362335752301637633" class="hlink2">
                        <p>组织一群热爱写博客分享的小伙伴的圈子，共同进步！</p>
                    </a>
                    <div class="title-msg">
                        <span>
                            <a href="/user/2cbe4161a6c64bc780bf61e36d87a03b" target="_blank" title="学相伴">
                            <img src="https://thirdwx.qlogo.cn/mmopen/vi_32/p2kibtCm4Z9p8aDSL0oQRl67AZ7dPebnLV9ibZtsQP8CGQeLeKfuiaeLmdl4KDzNTYM5M3UJ46ZBmOJDPDwsAsn0w/132"
                                 data-original="https://thirdwx.qlogo.cn/mmopen/vi_32/p2kibtCm4Z9p8aDSL0oQRl67AZ7dPebnLV9ibZtsQP8CGQeLeKfuiaeLmdl4KDzNTYM5M3UJ46ZBmOJDPDwsAsn0w/132"
                                 class="ksd-avatar" alt="" style="">
                            <span class="mx-1">学相伴</span></a>


                            <span class="svipicon"><i class="iconfont iconsvip"></i></span>
                        </span>
                        <span class="pr-2 pl-2 ksd-screen-time-no"><label
                                class="fw">时间：</label><span>2021/02/18 17:38</span></span>
                        <span class="pr-2 none"><label class="fw">评论数：</label><span>69</span></span>
                        <span class=" pr-2"><label class="fw">浏览：</label><span>1767</span></span>
                        <span><label class="fw">分类：</label>
                            <a href="/bbs?uid=&amp;from=&amp;cid=1" class="ksd-topic-tags">程序人生</a>
                        </span>
                    </div>
                </div>
                <div class="title-article ksd-title-article-link list-card" data-href="bbs/1362335752301637633">

                    <span class="iconfont iconzhiding ksd-iconzhiding"></span>
                    <a target="_blank" href="bbs/1362335752301637633" class="hlink">
                        <h1>🚀 活动：寻找爱写博客的你</h1>
                    </a>
                    <a target="_blank" href="bbs/1362335752301637633" class="hlink2">
                        <p>组织一群热爱写博客分享的小伙伴的圈子，共同进步！</p>
                    </a>
                    <div class="title-msg">
                        <span>
                            <a href="/user/2cbe4161a6c64bc780bf61e36d87a03b" target="_blank" title="学相伴">
                            <img src="https://thirdwx.qlogo.cn/mmopen/vi_32/p2kibtCm4Z9p8aDSL0oQRl67AZ7dPebnLV9ibZtsQP8CGQeLeKfuiaeLmdl4KDzNTYM5M3UJ46ZBmOJDPDwsAsn0w/132"
                                 data-original="https://thirdwx.qlogo.cn/mmopen/vi_32/p2kibtCm4Z9p8aDSL0oQRl67AZ7dPebnLV9ibZtsQP8CGQeLeKfuiaeLmdl4KDzNTYM5M3UJ46ZBmOJDPDwsAsn0w/132"
                                 class="ksd-avatar" alt="" style="">
                            <span class="mx-1">学相伴</span></a>


                            <span class="svipicon"><i class="iconfont iconsvip"></i></span>
                        </span>
                        <span class="pr-2 pl-2 ksd-screen-time-no"><label
                                class="fw">时间：</label><span>2021/02/18 17:38</span></span>
                        <span class="pr-2 none"><label class="fw">评论数：</label><span>69</span></span>
                        <span class=" pr-2"><label class="fw">浏览：</label><span>1767</span></span>
                        <span><label class="fw">分类：</label>
                            <a href="/bbs?uid=&amp;from=&amp;cid=1" class="ksd-topic-tags">程序人生</a>
                        </span>
                    </div>
                </div>
                <div class="title-article ksd-title-article-link list-card" data-href="bbs/1362335752301637633">

                    <span class="iconfont iconzhiding ksd-iconzhiding"></span>
                    <a target="_blank" href="bbs/1362335752301637633" class="hlink">
                        <h1>🚀 活动：寻找爱写博客的你</h1>
                    </a>
                    <a target="_blank" href="bbs/1362335752301637633" class="hlink2">
                        <p>组织一群热爱写博客分享的小伙伴的圈子，共同进步！</p>
                    </a>
                    <div class="title-msg">
                        <span>
                            <a href="/user/2cbe4161a6c64bc780bf61e36d87a03b" target="_blank" title="学相伴">
                            <img src="https://thirdwx.qlogo.cn/mmopen/vi_32/p2kibtCm4Z9p8aDSL0oQRl67AZ7dPebnLV9ibZtsQP8CGQeLeKfuiaeLmdl4KDzNTYM5M3UJ46ZBmOJDPDwsAsn0w/132"
                                 data-original="https://thirdwx.qlogo.cn/mmopen/vi_32/p2kibtCm4Z9p8aDSL0oQRl67AZ7dPebnLV9ibZtsQP8CGQeLeKfuiaeLmdl4KDzNTYM5M3UJ46ZBmOJDPDwsAsn0w/132"
                                 class="ksd-avatar" alt="" style="">
                            <span class="mx-1">学相伴</span></a>


                            <span class="svipicon"><i class="iconfont iconsvip"></i></span>
                        </span>
                        <span class="pr-2 pl-2 ksd-screen-time-no"><label
                                class="fw">时间：</label><span>2021/02/18 17:38</span></span>
                        <span class="pr-2 none"><label class="fw">评论数：</label><span>69</span></span>
                        <span class=" pr-2"><label class="fw">浏览：</label><span>1767</span></span>
                        <span><label class="fw">分类：</label>
                            <a href="/bbs?uid=&amp;from=&amp;cid=1" class="ksd-topic-tags">程序人生</a>
                        </span>
                    </div>
                </div>
            </div>

            <div class="" style="padding-top: 25px">
                <ul id="pageNum">
                    <li class="layui-btn layui-btn-primary"><a href="">首页</a></li>
                    <li class="layui-btn layui-btn-primary"><a href="#">上一页</a></li>
                    <li class="layui-btn layui-btn-warm"><a href="javascript:void (0)">1</a></li>
                    <li class="layui-btn layui-btn-primary"><a href="javascript:;">下一页</a></li>
                    <li class="layui-btn layui-btn-primary"><a href="javascript:;">末页</a></li>
                </ul>
            </div>
        </div>
        <div class="sidebar layui-col-md3 layui-col-lg3">
            <div class="ads">
                <a href="javascript:void(0);" data-href="/topic/to-add"
                   class="layui-btn nav-link-down nav-link-login layui-btn-normal" style="width: 100%;">
                    <span class="layui-icon layui-icon-edit"></span>
                    发布文章
                </a>
            </div>
            <div class="card mb-3 position-relative" style="border:none;border-radius: 6px;">
                <div class="p-3">
                    <div class="row mx-0 text-center pb-2 pt-2">
                        <div class="col px-0">
                            <div class="pb-0 threads_num fz14 user_num">120328</div>
                            <div class=" mt-2 fz14 small text-muted">用户</div>
                        </div>
                        <div class="col px-0">
                            <div class="pb-0 digests_num fz14 post_num">4561</div>
                            <div class=" mt-2 fz14 small text-muted">文章</div>
                        </div>
                        <div class="col px-0">
                            <div class="pb-0 threads_num fz14 comment_num">3052</div>
                            <div class=" mt-2 fz14 small text-muted">回复</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <h3 class="title-sidebar">
                    <a href="#" class="md-opjjpmhoiojifppkkcdabiobhakljdgm_doc"><i
                            class="layui-icon pr tp1"></i>文章分类</a>
                    <!--<a href="/bbs?isrecommend=1&amp;cid=" class="fr fz12 pr md-opjjpmhoiojifppkkcdabiobhakljdgm_doc"
                       style="top:4px;color:#666;">查看精品文章</a>-->
                </h3>
                <ul class="layui-row layui-col-space5">
                    <li class="ksd-cate-item layui-col-md12 layui-col-xs12" id="ksd-category-1" title="">
                        <a href="#" style="display: block"
                           class="ksd-nav-linknav-rorate">
                            程序人生
                            <span class="layui-icon-right layui-icon fw"
                                  style=""></span>
                        </a>
                        <a href="#" style="display: block"
                           class="ksd-nav-linknav-rorate">
                            程序人生
                            <span class="layui-icon-right layui-icon fw"
                                  style=""></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
>
<!--导入底部-->
<!-- 尾部 start-->
<footer id="footer">
    <meta charset="utf-8">
    <div class="why_select">
        <dl>
            <dt class="fl">
                <img src="../static/images/icon_1.jpg" alt="">
            </dt>
            <dd>
                <h1>房车齐全</h1>
                <h2>房车全自主选，随心买</h2>
            </dd>
        </dl>
        <dl>
            <dt class="fl">
                <img src="../static/images/icon_2.jpg" alt="">
            </dt>
            <dd>
                <h1>便利快捷</h1>
                <h2>24小时不打烊，随时预定</h2>
            </dd>
        </dl>
        <dl>
            <dt class="fl">
                <img src="../static/images/icon_3.jpg" alt="">
            </dt>
            <dd>
                <h1>安全支付</h1>
                <h2>知名支付工具，放心预定</h2>
            </dd>
        </dl>
        <dl>
            <dt class="fl">
                <img src="../static/images/icon_4.jpg" alt="">
            </dt>
            <dd style="margin-right:0px;">
                <h1>贴心服务</h1>
                <h2>客服全年无休，安心买</h2>
            </dd>
        </dl>
    </div>
    <div class="company">
        <p>xx有限公司 版权所有Copyright xxxx-xxxx, All Rights Reserved xxxxxxxxxx</p>
    </div>
</footer>
</html>