.navbar {
    height: 56px;
    top: 1px;
    background-color: white;
}


.navbar-brand {
    display: inline-block;
    height: 55px;
    width: 260px;
    padding-top: 1px;
}

.navigationBar {
    width: 250px;
    margin-left: 200px;
    margin-top: 5px;
}

.nav-pills {
    width: 500px;
    margin-top: 5px;
    padding-left: 5px;
    height: 45px;
}

.tipmessage-box {
    right: 450px;
    padding-top: 7px;
    position: absolute;
    font-size: 14px;
}

.navigationBar_right {
    float: right;
    margin-top: -40px;
    width: 240px;
    margin-right: -50px;
    border-radius: 18px;

    z-index: 5;
}

.ksd-avatar2 {
    right: 69px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    vertical-align: baseline;
    top: 3px;
    position: absolute;
}

.ksd-user-info {
    position: relative;
}

.ksd-logindrop.show {
    box-shadow: none;
}

.ksd-home {
    float: left;
    padding: 10px 0px 0px 8px;
    font-size: 14px;
    transform: scale(0.9);
    display: none;
}

.ksd-logindrop {
    width: 240px;
    float: right;
    font-size: 14px;
    top: -12px;
    text-align: right;
    border-radius: 18px;


}

.ksd-text {
    width: 59px;
    right: 8px;
    top: 7px;
    position: absolute;
}

.dropdown-toggle::after {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 16px;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

.user_offline {
    top: 9px;
    position: absolute;
    font-size: 14px;
}

.ksd-login-items {
    height: auto;
    width: 240px;
}

.ksd-num-items {
    float: left;
    width: 33.33333%;
    text-align: center;
    transition: 60ms linear;
    padding: 5px 0px;
    font-weight: 400;
    display: block;
    font-size: 18px;
    color: #444;
    margin-bottom: 2px;
}

.ksd-header-items {
    float: left;
    text-align: center;
    transition: 60ms linear;
    padding: 15px 0;
    font-weight: 400;
    display: block;
    font-size: 18px;
    color: #444;
    margin-bottom: 2px;
}

.num {
    display: block;
    font-size: 18px;
    color: #444;
    margin-bottom: 2px;
    font-weight: 700;
}

.ktext {
    display: inline;
    color: #444;
}