.navbar {
    background: #fff;
    box-shadow: 0 0 1em #eee;
    height: 56px;
    top: 1px;
}


.navbar-brand {
    display: inline-block;
    height: 55px;
    width: 260px;
    padding-top: 1px;
}

.navigationBar {
    width: 250px;
    margin-left: 200px;
    margin-top: 5px;
}

.nav-pills {
    width: 500px;
    margin-top: 5px;
    padding-left: 5px;
    height: 45px;
}

.tipmessage-box {
    padding-top: 7px;
    position: absolute;
    font-size: 14px;
}

.navigationBar_right {
    margin-top: -40px;
    width: 60px;
    float: right;
}

.ksd-avatar2 {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    vertical-align: baseline;
    top: -5px;
    position: relative;
}

.ksd-user-info {
    padding: 10px;
    position: relative;
    top: 5px;
}

.ksd-logindrop.show {
    box-shadow: none;
}

.ksd-home {
    float: left;
    padding: 10px 0px 0px 8px;
    font-size: 11px;
    color: rgb(142, 142, 142);
    transform: scale(0.9);
    display: none;
}

.ksd-logindrop {
    position: relative;
    width: 150px;
    background: #fff;
    box-shadow: 0 0 1em #ddd;
    margin: 10px;
    font-size: 14px;
    color: #ffffff;
    top: -12px;
    right: 210px;
    text-align: right;
    border-radius: 18px;
}

.ksd-text {
    position: absolute;
    margin-bottom: 15px;
    width: 60px;
    top: 24px;
    right: 60px;
}

.dropdown-toggle::after {
    display: inline-block;
    position: absolute;
    top: 33px;
    right: 49px;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

.user_offline {
    top: 9px;
    position: absolute;
    font-size: 14px;
}

.ksd-login-items{
    z-index: 10;
}