<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhao.mapper.LimoMapper">
    <select id="selectAll" resultType="limo">
        select * from limo
    </select>

    <select id="selectByType" resultType="limo">
        select * from  limo where type = #{type}
    </select>

    <select id="getLimoPopularity" resultType="limo">
        SELECT * FROM limo ORDER BY like_number DESC LIMIT 4;
    </select>

    <select id="getLimoNewest" resultType="limo">
        SELECT * FROM limo ORDER BY add_time DESC LIMIT 4;
    </select>

    <select id="getLimoTheme" resultType="limo">
        select * from limo as t1 where t1.id >= (rand()*(select max(id)-4 from limo)) limit 4;
    </select>

    <select id="getLimoDetails" resultType="limo">
        select * from  limo where id = #{id};
    </select>

    <update id="addLimoLikeNumber">
        update limo set like_number = like_number + 1 where id = #{id};
    </update>

    <update id="reduceLimoLikeNumber">
        update limo set like_number = like_number - 1 where id = #{id};
    </update>

    <select id="getLimoRecommend" resultType="limo">
        SELECT * FROM limo AS t1 WHERE t1.`id` IN (SELECT id FROM (SELECT id FROM limo AS t2 WHERE t2.`type` = 'GENERAL' ORDER BY t2.like_number DESC LIMIT 10) AS t3);
    </select>
</mapper>